/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

theme1                       t1               #567890
theme2                       t2               #abcdef

*/
@import "compass/css3";

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    color: #000000; background-color: #ffffff;
                    margin:0 0 0 0px;
                    padding:10px 30px;
                    }
a, h1, h2       { color: #259FAA; }
h1, h2          { margin: 10; text-transform: uppercase; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
h3              { color: #797987; background-color: #ffffff;}

/*
                    margin:10 10 10 10px;
                    padding:0px 0px;
a, h1, h2       { color: #377ba8; }
pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
*/

.flex-container {
            padding: 0;
            margin: 0;
            list-style: none;

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-flex-flow: row wrap;
            justify-content: justify;
            align-content: space-around;
            }

.flex-item {
            background: white;
            padding: 5px;
            width: 370px;
            height: 300px;
            margin-top: 10px;
            margin-right: 10px;

            /*
            line-height: 150px;
            color: white;
            text-align: center;
            */
}


.Comment { color: #c00000; font-weight: bold; }
.Constant { color: #0000c0; text-decoration: underline; }
.Identifier { color: #804000; text-decoration: underline; }
.Statement { color: #008080; font-weight: bold; }
.PreProc { color: #c000c0; text-decoration: underline; }

/*
.data1 th {
  background-color: #add8e6;
  color: white;
}
*/
.button {
    background-color: #259FAA;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 0px solid #ccc;
}
.button:hover {
    background-color:#7cc5cc ;
}

.submit_button { 
    line-height: 1.3em;
}

input[type=text] {
    width: 300;
    font-size: 16px;
    color: black;
    line-height:1.3em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    background-color: #f8f8f8;
    background-color: #259FAA;
    background-color:#797987;
    background:#E0E1DC;
    resize: none;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 3px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  font-family: "Monospace";
}


.table th {
    background-color: #259faa;
    color: #E0E1DC;
    color: #000;
}

tr:nth-child(odd)     { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
tr:hover              { background-color: #D2EED7;}


#centeredmenu {
    float:left;
    width:100%;
    background:#E0E1DC;
    border-bottom:4px solid #000;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
}
#centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
#centeredmenu ul li a {
    display:block;
    margin:0 0 0 0px;
    padding:11px;
    width: 150px;
    background:#E0E1DC;
    color:#797987;
    text-decoration:none;
    text-transform: uppercase; 
    line-height:1.3em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}
#centeredmenu ul li a:hover {
    background:#259FAA;
    color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
