<!DOCTYPE html>

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>MNEMONIC</title>

<h1>{{biome}}</h1>

<form action = {{url_for('home')}} method = "POST">
        <button type="submit">Home</button>
</form>
