<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{{TITLE}}</title>

<div id="centeredmenu">
    <ul>
        <li><a href={{ url_for('home') }}>HOME</a></li>
        <li><a href={{ url_for('intro') }}>HELP</a></li>
        <li><a href={{ url_for('about') }}>ABOUT</a></li>
    </ul>
</div>

</html>

<!--
        <li><a href="#">#</a></li>
-->
