<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for("static", filename="style.css") }}">

<body>

<div>
    <h1>{{page_title}}</h1>
    <p>{{text_introduction|safe}}</p>
</div>

<form action = {{url_for("metadata_stats")}} method = "POST">
        <button class="button" type="submit">show metadata stats</button>
</form>

<div class="container">
<ul class="flex-container">
    <li class="flex-item">
        <h2>Metadata</h2>
        <p>
        Show a subset of the metadata that contains the query string in any of the fields.
        <br>
        Example query: intest
        </p>
        <form action = {{url_for("metadata_table")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>

    <li class="flex-item">
        <h2>American Gut metadata</h2>
        <p>
        Show a subset of the EBI metadata that contains the query string in any of the fields of American Gut metadata.
        (Not very informative, really, other than returning the number of samples).
        <br>
        Example query: omnivore
        </p>
        <form action = {{url_for("metadata_table_amgut")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>


    <li class="flex-item">
        <h2>Samples</h2>
        <p>
        Example query (EBI sample ID): <a href ="/samples/ERS940246">ERS940246</a></p>
        <form action = {{url_for("samples_redirect")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>

    </li>

    <li class="flex-item">
        <h2>Projects</h2>
        <br>
        Example query (EBI project ID): <a href="/projects/ERP010458">ERP010458</a></p>
        <form action = {{url_for("projects_redirect")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>

    <li class="flex-item">
        <h2>Biomes</h2>
        <br>
        Example query: <a href="/biomes/Fecal">Fecal</a></p>
        <form action = {{url_for("biomes_redirect")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>

    <li class="flex-item">
        <h2>Taxa</h2>
        <p>
        Will match a taxon string that contains the query.
        <br>
        Example query: brevi
        </p>
        <form action = {{url_for("taxa_redirect")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>

    <li class="flex-item">
        <h2>Contrasts</h2>
        <br>
        Example query: <a href="/contrasts/soil-fecal">soil-fecal</a></p>
        <form action = {{url_for("contrasts_redirect")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>

    <li class="flex-item">
        <h2>Contrasts comparisons</h2>
        <br>
        <form action = {{url_for("show_metacontrast")}} method = "POST">
            <input type="text" name="text">
            <input class="button submit_button" type="submit" name="my-form" value="Submit">
        </form>
    </li>
</ul>
</div>
</body>

<!--

<li class="flex-item">
    <h1>Current query: "{{query}}"</h1>
</li>

<li class=page>
  <h1>Results</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>

# This makes a link when you click text
<body>
    <p><a href= "http://localhost:{{PORT}}/home">Check out this cool form!</a></p>
</body>


-->

</html>

