<!DOCTYPE html>
<html lang="en">
<h1>{{page_title}}</h1>

<div class=page>
    {% for text in text_list %}
        <p>{{text|safe}}</p>
    {% endfor %}
</div>

<div class=page>
    {% for filename in download_tables_filenames %}
        <form action = {{url_for('download_file', filename=filename)}} method = "POST">
            <input class="button" type="submit" name="my-form" value="Download table">
        </form>
    {% endfor %}
</div>


<div class=page>
    {% for table in tables %}
        <p>{{descr_tables[loop.index]}}</p>
        <h3>{{titles_tables[loop.index]}}</h3>
        <span class="table">{{ table|safe }}</span>
    {% endfor %}
</div>


<div class=page>
    {% for plot in plots %}
        <h3>{{titles_plots[loop.index]}}</h3>
        <p>{{descr_plots[loop.index]}}</p>
        <img src="data:image/png;base64, {{ plot|safe }}" alt="alt">
    {% endfor %}
</div>

</html>


