<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Enter a new query (case-insensitive)</h1>
    <p>{{descr_form}}</p>
    <form action = {{form_redir_url}} method = "POST">
        <input type="text" name="text">
        <input class='button submit_button' type="submit" name="my-form" value="Send">
    </form>
</body>

<div class=page>
    <h1>Results for query: "{{query}}"</h1>
    {% for table in tables %}
        <h3>{{titles_tables[loop.index]}}</h3>
        <span class="table">{{ table|safe }}</span>
    {% endfor %}
</div>

</html>

