<!DOCTYPE html>

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{{TITLE}}</title>

<h1>{{entity_id}}</h1>

<form action = https://www.ebi.ac.uk/metagenomics/{{entity_label_pl}}/{{entity_id}} method = "POST">
        <button class='button submit_button' type="submit">Go to EBI page for {{entity_id}}</button>
</form>


<div class=page>
    {% for table in tables %}
        <h3>{{titles_tables[loop.index]}}</h3>
        <p>{{descr_tables[loop.index]}}</p>
        <span class="table">{{ table|safe }}</span>
    {% endfor %}
</div>


<div class=page>
    {% for plot in plots %}
        <h3>{{titles_plots[loop.index]}}</h3>
        <p>{{descr_plots[loop.index]}}</p>
        <img src="data:image/png;base64, {{ plot|safe }}" alt="alt" height="500">
    {% endfor %}
</div>

</html>



<!--
<form action = {{url_for('home')}} method = "POST">
http://www.ebi.ac.uk/ena/data/view/{{sample_id}}
        <button type="submit">Go to ENA page for this project</button>
</form
-->
