<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<title>Metagenomics webapp</title>
<body>
    <h1>{{query}}</h1>
</body>


<div class=page>
  <h1>Results</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>

</html>

